@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

body {
  color: #0F172A;
  background: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* 隐藏移动端点击时的默认蓝色高光 */
* { -webkit-tap-highlight-color: transparent; }
